<div class="main">
  <div class="book-wrap">
    <h1>books</h1>
    <% @books.each do |book| %>
    <div class="book-box">
      <p>Title:</p>
      <p><%= book.title %></p>

      <p>Body</p>
      <p><%= book.body %></p>
      <%= link_to "Destroy", book_path(book.id),method: :delete, "date-confirm" => "Are you sure?" %>
     <% end %>
    </div>
  </div>


<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <p>title</p>
  <%= f.text_field :title %>

  <P>Body</P>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
</div>

